<h2>Department</h2>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
        </tr>
        <tr>
            <td>$department.getTitle()</td>
        </tr>
    </table>
</div>