<h1>Edit Department</h1>

<form action="/departments/$department.getId()" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required value="$department.getTitle()">

    <input type="submit" value="Edit Department">
</form>
